$primaryColor: #618C03; 
$secondaryColor: #D97904;
$accentColor: #8C0E03;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;